{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
      h1{color:blue;text-align:center}
    </style>
</head>
<body style="background-image:url({% static 'images/bg2.jpg' %})">
<h1>REGISTRATION</h1>
<form action="register" method="post" align="center">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"  align="center"><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="cpassword" placeholder="Confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>